<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NYC Restaurant Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>

<body>
    <h1 id="webpage-title">DineNYC: Restaurant Insights</h1>



    <div id="filters-container">

        <div class="filter-item">
            <label for="rating-filter">Overall Rating:</label>
            <select id="rating-filter">
                <option value="all">All</option>
                <option value="0.0-2.0">0.0 - 2.0</option>
                <option value="2.0-2.5">2.0 - 2.5</option>
                <option value="2.5-3.0">2.5 - 3.0</option>
                <option value="3.0-3.5">3.0 - 3.5</option>
                <option value="3.5-4.0">3.5 - 4.0</option>
                <option value="4.0-4.5">4.0 - 4.5</option>
                <option value="4.5-5.0">4.5 - 5.0</option>
            </select>
        </div>

        <div class="filter-item">
            <label for="cuisine-filter">Cuisine:</label>
            <select id="cuisine-filter">
                <option value="all">All</option>
            </select>
        </div>

        <div class="filter-item">
            <label for="price_per_person-filter">Pricing:</label>
            <select id="price_per_person-filter">
                <option value="all">All</option>
            </select>
        </div>

        <div class="filter-item">
            <label for="locality-filter">Locality:</label>
            <select id="locality-filter">
                <option value="all">All</option>
            </select>
        </div>

        <div class="filter-item">
            <label for="dining-style-filter">Dining Style:</label>
            <select id="dining-style-filter">
                <option value="all">All</option>
            </select>
        </div>

        <button id="apply-filters">Apply Filters</button>

    </div>


    <div id="map"></div>

    <div class="separator"></div>

    <h2 class="chart-title">Cuisine Pie Chart of New York City</h2>

    <canvas id="myDoughnutChart" width="100" height="100"></canvas>

    <div class="separator"></div>
    
    <h2 class="bar-title">Top Restaurants Data</h2>

    <div id="filters-container-top10">
        <div class="filter-item-top10">
            <label for="cuisine-filter-top10">Cuisine:</label>
            <select id="cuisine-filter-top10" onchange="optionChangedTop10Filter(this.value)">
                <option value="all">All</option>
            </select>
        </div>
    </div>
    <br>
    <div style='height:650px'>
    <canvas id="barchart" width="100" height="100"></canvas>
    </div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../static/script.js"></script>



    <div class="separator"></div>
    <div style="max-width: 600px; margin: 0 auto;">
        <canvas id="pieChart"></canvas>
      </div>
      <script src="../static/chart_polar.js"></script>


    <div class="separator"></div>
    <h1>Restaurant Cuisine Distribution</h1>
    <!-- Add a canvas element for the Doughnut chart -->
    <canvas id="cuisineChart" width="200" height="200"></canvas>
    <!-- Add your custom JavaScript -->
    <script src="../static/chart_donut10.js"></script>


    <div class="separator"></div>
    <h1>Radar Chart</h1>
    <canvas id="radarChart" width="100" height="100"></canvas>
    <script src="../static/chart_radar.js"></script>

  <div class="separator"></div>

</body>

</html>