:root {
    --background-color: white;
    --text-color: black;
}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
    margin-top: 100px;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
}

#map-container {
    position: relative;
    height: 75vh;
    width: 80%;
    margin: 50px auto;
}

#sidebar-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    padding: 10px;
    border-bottom: 2px solid grey;
    background-color: rgba(34, 34, 34, 0.915);
    z-index: 3;
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 75vh;
    width: 20%;
    margin-bottom: 60px;
    background-color: rgba(34, 34, 34, 0.704);
    z-index: 2;
}

#restaurant-list {
    list-style-type: decimal;
    margin-top: 20px;
    max-height: 70vh;
    overflow-y: auto;
    line-height: 2;
}

#restaurant-list::-webkit-scrollbar {
    width: 10px;
}

#restaurant-list::-webkit-scrollbar-thumb {
    background: grey;
}

#restaurant-list::-webkit-scrollbar-thumb:hover {
    background: black;
}

#floating-label {
    position: absolute;
    top: 10%;
    left: 1%;
    z-index: 3;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 20px;
    border-radius: 5px;
    width: auto;
    font-size: 18px;
}

#filter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#filter-form label,
#filter-form select {
    width: 100%;
}

#filter-form button {
    margin-top: 10px;
    align-self: flex-end;
}

#toggle-dark-mode {
    position: absolute;
    bottom: 10px;
    right: 10px;
}