#webpage-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.map-title{
    text-align:center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 1280px;
    padding: 20px 10px;
}

#filters-container {
    position: absolute;
    top: 200px;
    right: 10%;
    z-index: 1000;
    background-color: #ffffff9a;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#filters-container select {
    width: 100%;
}

#filters-container label {
    margin-right: 10px;
}

#filters-container .filter-item {
    margin-bottom: 10px;
}


#map {
    margin: 20px auto;
    width: 80%;
    height: 75vh;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.separator {
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}


#map::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #000000;
    margin: 20px 0;
}

.bar-title {
    float: 'left'
}

.cuisine-pie-chart {
    position: absolute;
    top: 800px;  /* Adjust as needed */
    right: 10%;  /* Similar to #filters-container */
    z-index: 1000;  /* Should be same or higher than #filters-container */
    background-color: #ffffff9a;  /* Similar to #filters-container */
    padding: 15px;
    border-radius: 8px;
    width: 600px;  /* Adjust as needed */
    height: 400px;  /* Adjust as needed */
    overflow-y: auto;
}

#toggle-chart {
    position: absolute;
    top: 1175px;  /* Adjust as needed */
    right: 11%;  /* Adjust as needed */
    z-index: 1001;  /* Should be higher than map and other containers */
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffffd3;  /* To match other containers */
}


#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#backToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
